
node_modules/

dist/
build/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.env.local
.env.development.local
.env.test.local
.env.production.local

.vite

*.tsbuildinfo

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

tmp/
temp/

coverage/

.cache/

.eslintcache
