@import "tailwindcss";


body {
  margin: 0;
  padding: 0;
}

@keyframes slideDown {
  0% { 
    opacity: 0; 
    transform: translateY(-10px); 
  }
  100% { 
    opacity: 1; 
    transform: translateY(0); 
  }
}

.animate-slideDown {
  animation: slideDown 0.25s ease-out;
}

/* Esconde scrollbar mas mantém scroll */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}
